![Growdev](https://www.growdev.com.br/assets/images/logo_growdev.png)

![Formação Engenharia de Dados](https://d335luupugsy2.cloudfront.net/cms/files/524558/1707226566/$occu5m8t1op)

Este material tem como objetivo incentivar a prática dos conteúdos estudados até o momento, e a pesquisa. Tenha em consideração que o exercício foi pensado para incentivar a prática dos conteúdos estudados até então, porém aprender a pesquisar faz parte do processo de aprendizagem.

Fique tranquilo, faça os exercícios com calma, e boa prática!

#Orientações:

 - Faça uma copia deste arquivo
 - Após concluir os exercicios, suba seu exercicio para o GitHub e compartilhe o link no **google** Classroom

#Exercícios

#Listas

Para esse exercicio você tera alguns desafios, separei eles em partes, vamos lá?

1 - Crie uma lista com 100 números inteiros.
- Pode ser uma sequência, ou caso queira se desafiar faça de números aleatorios.
- Os dados não devem ser inseridos manualmente, utilize de um laço de repetição para adicionar os elementos a Lista.

In [ ]:
import random

lista = []

for i in range(100):
  lista.append(random.randint(1,1000))
  print(lista)

2 - Calcule e exiba a soma de todos os números da lista.

In [3]:
print(sum(lista))

53192

3 - Exiba o maior e o menor número da lista.

In [4]:
print(max(lista))
print(min(lista))

983
24

4 - Pesquise se o número 77 esta presente na lista e exiba:
- Quantas vezes esse número aparece na lista
- Se aparece em qual ou quais posições(Indice).

In [5]:
print(77 in lista)

False

5 - Ordene a lista de forma descendente e exiba.

In [8]:
lista.sort(reverse = True)
print(lista)

[983, 973, 972, 954, 950, 926, 913, 912, 907, 876, 866, 862, 849, 847, 836, 811, 806, 804, 802, 793, 787, 786, 784, 781, 774, 772, 770, 759, 757, 755, 754, 754, 751, 740, 730, 729, 722, 705, 697, 685, 676, 664, 627, 623, 618, 613, 603, 600, 592, 564, 517, 513, 510, 503, 501, 495, 486, 482, 470, 468, 462, 456, 402, 367, 365, 357, 355, 344, 335, 318, 314, 314, 297, 284, 283, 279, 250, 248, 228, 228, 224, 223, 212, 211, 207, 193, 185, 184, 170, 165, 152, 132, 118, 117, 105, 103, 99, 92, 31, 24]

## Tuplas:

Crie uma tupla com os dias da semana e peça para o usuário digitar um número de 1 a 7. Exiba o dia correspondente.

In [9]:
dias_semana = ('segunda', 'terça', 'quarta', 'quinta', 'sexta')

dia_selecionado = int(input('Digite de 1 a 7: '))
print(dias_semana[dia_selecionado-1])

Digite de 1 a 7: 1
segunda

Crie duas tuplas com números inteiros e crie uma terceira tupla com a concatenação das duas.

In [ ]:
import random

lista = []

for i in range(30):
  lista.append(random.randint(1,30))

tupla_1 = tuple(lista)
lista = []

for i in range(30):
  lista.append(random.randint(1,30))

tupla_2 = tuple(lista)



tupla_3 = tupla_1 + tupla_2

print(tupla_1)
print(tupla_2)
print(tupla_3)

 Crie uma tupla com alguns elementos e remova um elemento específico.

In [16]:
import random

lista = []

for i in range(30):
  lista.append(random.randint(1,30))

tupla_1 = tuple(lista)
print(tupla_1)
lista_temporaria = list(tupla_1)
del lista_temporaria[len(lista_temporaria)-1]
tupla_1 = tuple(lista_temporaria)
print(tupla_1)

(26, 11, 30, 8, 5, 7, 23, 26, 10, 20, 21, 9, 7, 10, 29, 9, 10, 12, 17, 27, 14, 30, 6, 15, 11, 5, 6, 28, 11, 15)
(26, 11, 30, 8, 5, 7, 23, 26, 10, 20, 21, 9, 7, 10, 29, 9, 10, 12, 17, 27, 14, 30, 6, 15, 11, 5, 6, 28, 11)

#Sets

Crie dois sets com cores diferentes e exiba na tela a união dos dois sets.

In [17]:
set_1 = {'branco','azul','amarelo'}
set_2 = {'preto', 'roxo', 'verde'}

set_3 = set_1.union(set_2)

print(set_3)

{'amarelo', 'roxo', 'branco', 'preto', 'verde', 'azul'}

Crie uma lista com alguns números repetidos. Converta essa lista em um set para remover as duplicatas e exiba o resultado.

In [19]:
import random

lista = []

for i in range(30):
  lista.append(random.randint(1,10))

print(lista)
set_1 = set(lista)

print(set_1)

[3, 6, 1, 9, 1, 6, 9, 8, 9, 10, 3, 6, 4, 5, 5, 1, 1, 5, 10, 1, 10, 7, 7, 1, 8, 3, 10, 2, 10, 6]
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#Dicionários:

 Crie um dicionário com os nomes de algumas frutas e suas respectivas cores. Exiba na tela somente as frutas que são vermelhas.

In [21]:
dicionario_frutas_cores = {'Laranja':'Laranja', 'Morango':'Vermelho', 'Maçã': 'Vermelho', 'Cereja': 'Vermelho', 'Banana': 'Amarelo'}

for fruta, cor in dicionario_frutas_cores.items():
  if cor == 'Vermelho':
    print(fruta)

Morango
Maçã
Cereja

Crie um dicionário com o nome e a idade de três pessoas. Busque por  um nome e exiba a idade correspondente.

In [26]:

dicionario_nomes_idades = {'Guilherme': 21, 'Anna': 31, 'Thomas': 55}
nome_procurado = input('Digite o noem que busca: ')
Sucesso = False

for nome, idade in dicionario_nomes_idades.items():
  if nome == nome_procurado:
    print(f'{nome} {idade}')
    Sucesso = True

if Sucesso == False:
      print('Nome não encontrado')

Digite o noem que busca: Adriana
Nome não encontrado

Crie um dicionário com os nomes e idades de algumas pessoas. Peça para o usuário digitar um nome e sua nova idade, e atualize o dicionário com essa informação.

In [30]:
dicionario_nomes_idades = {'Guilherme': 21, 'Anna': 31, 'Thomas': 55}
nome_procurado = input('Digite o noem que busca: ')
idade_update = int(input('Digite a nova Idade'))
Sucesso = False

for nome, idade in dicionario_nomes_idades.items():
  if nome_procurado == nome:
    dicionario_nomes_idades[nome] = idade_update
    Sucesso = True
    print(dicionario_nomes_idades)

if Sucesso == False:
      print('Nome não encontrado')

Digite o noem que busca: Roberto
Digite a nova Idade12
Nome não encontrado
{'Guilherme': 21, 'Anna': 31, 'Thomas': 55}

Desafio Dicionários:

Busque o código desenvolvido para o exercicio abaixo e altere o algoritmo para:

 - Salvar o resultado da eleição em um dícionário.


Exemplo de saida do dicionario: {"Candidato 1": 2, "Candidato 2": 2, "Voto Nulo": 0, "Voto Branco": 1}


Este exercicio foi realizado na lista da semana passada, exercicio de número 4:


"Em uma eleição presidencial existem dois candidatos. Os votos são informados através de códigos. Os dados utilizados para a contagem dos votos obedecem à seguinte codificação:

1,2 = voto para os respectivos candidatos

3 = voto nulo

4 = voto em branco;

Elabore um programa que leia o código de votação de 5 eleitores. Calcule e escreva: total de votos para cada candidato total de votos nulos total de votos em branco"

In [31]:
menu = 'Por favor, escolha uma opção:\n1 - Cadidado João\n2 - Candidato Maria\n3 - Nulo\n4 - Branco\nSua escolha:'
dicionario_candidato_votos = {'João': 0, 'Maria': 0, 'Nulo': 0, 'Branco': 0}
contagem_eleitores = 0
escolha_eleicao = True

while(contagem_eleitores < 5):
  escolha_eleicao = int(input(print(menu)))
  if(escolha_eleicao < 5 and escolha_eleicao > 0):
    contagem_eleitores += 1
    match escolha_eleicao:
      case 1:
        dicionario_candidato_votos['João'] += 1
      case 2:
        dicionario_candidato_votos['Maria'] += 1
      case 3:
        dicionario_candidato_votos['Nulo'] += 1
      case 4:
        dicionario_candidato_votos['Branco'] += 1
  else:
    print('Número invalido')


print(dicionario_candidato_votos)

Por favor, escolha uma opção:
1 - Cadidado João
2 - Candidato Maria
3 - Nulo
4 - Branco
Sua escolha:
None1
Por favor, escolha uma opção:
1 - Cadidado João
2 - Candidato Maria
3 - Nulo
4 - Branco
Sua escolha:
None1
Por favor, escolha uma opção:
1 - Cadidado João
2 - Candidato Maria
3 - Nulo
4 - Branco
Sua escolha:
None2
Por favor, escolha uma opção:
1 - Cadidado João
2 - Candidato Maria
3 - Nulo
4 - Branco
Sua escolha:
None3
Por favor, escolha uma opção:
1 - Cadidado João
2 - Candidato Maria
3 - Nulo
4 - Branco
Sua escolha:
None4
{'João': 2, 'Maria': 1, 'Nulo': 1, 'Branco': 1}

#Listas por Compreensão:

Crie uma lista com os números Impares de 1 a 20 utilizando listas por compreensão.

In [36]:
lista_impares = [i for i in range(21) if i % 2 != 0]
print(lista_impares)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Crie uma lista com as letras da frase "Sou estudante de dados", utilizando listas por compreensão.